
body {
    background-color: #37414A;
}
h1 {    
    font-family: Impact, Charcoal, sans-serif;
    color: #718A9F ;
    font-size: 60px;
    text-align: center; 
    
} 

#fondo-blanco {
    background-color: white;
} 

p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    color: white;
}